input,
textarea {
    transition: all 0.1s linear;

    &:focus {
        box-shadow: 0 0 0 2px $primary;
    }
}

input {
    background: rgb(25, 25, 25);
    border-radius: 10px;
    color: inherit;
    padding: 10px;
    height: 30px;
    outline: 0;
    border: 0;
}

svg {
    fill: rgb(100, 100, 100);
}

button {
    user-select: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;
    padding: 5px;
    outline: 0;
    border: 0;

    &[disabled] {
        pointer-events: none;
        cursor: default;
    }
}

.btn {
    transition: all 0.1s linear;
    border-radius: 5px;
    min-height: 40px;
    min-width: 40px;

    &:hover {
        background-color: rgba(75, 75, 75, 0.75);
    }
}

.loading {
    width: 50px;
}
