.playlist {
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(50, 50, 50);
    flex: 1;
}

.playlistAdd {
    margin-top: auto;
    padding: 10px;

    .form-error {
        color: red;
    }
}
