@import url('https://cdn.angelin.dev/css/v1.0/app.css');
@import './variables';
@import './elements';
@import './player';
@import './fonts';
@import './video';
@import './chat';
@import './misc';

#app {
    background-color: $bgColor;
    color: white;
    padding: 15px;
    height: 100vh;
}

*,
*::before,
*::after {
    font-family: Roboto;
}
