@import url('https://cdn.angelin.dev/css/v1.0/app.css');
@import './variables';
@import './elements';
@import './newuser';
@import './player';
@import './fonts';
@import './video';
@import './chat';
@import './misc';

:root {
    background-color: $bgColor;
}

#app {
    color: white;
    padding: 15px;
    height: 100vh;

    @media (max-width: 1200px)  {
        flex-direction: column;
        height: unset;
    }
}

*,
*::before,
*::after {
    font-family: Roboto;
}
