@import url(https://cdn.angelin.dev/css/v1.0/app.css);input,
textarea {
  transition: all 0.1s linear;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #00b365;
}

input {
  background: #191919;
  border-radius: 10px;
  color: inherit;
  padding: 10px;
  height: 30px;
  outline: 0;
  border: 0;
}

svg {
  fill: #646464;
}

button {
  background: none;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  padding: 5px;
  outline: 0;
  border: 0;
}

button.btn {
  transition: all 0.1s linear;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

button.btn:hover {
  background-color: rgba(75, 75, 75, 0.75);
}

button[disabled] {
  pointer-events: none;
  cursor: default;
}

.loading {
  width: 50px;
}

.newUser {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.newUserHeader {
  font-size: 1.5rem;
}

.newUserInput,
.newUserSubmit {
  box-shadow: 0 0 0 1px #00b365;
  font-size: 1.5rem;
  height: 40px;
}

.newUserSubmit {
  background-color: #00b365;
  border-radius: 10px;
  padding: 5px 20px;
}

.newUserSubmit svg {
  width: 100%;
}

.newUserSubmit.spin {
  background-color: rgba(0, 179, 101, 0.5);
  padding: 5px;
  width: 40px;
}

.player {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  background-color: #1e1e1e;
  margin-right: 15px;
}

.playerContainer {
  height: 100%;
}

.playerInput {
  width: 30%;
}

.playerInputHeader {
  font-size: 1.25rem;
}

@font-face {
  font-family: "Roboto";
  src: url("/storage/fonts/Roboto-Regular.ttf");
}

.video {
  position: relative;
}

.video:nth-child(odd) {
  background-color: #141414;
}

.video:last-child {
  margin-bottom: 0;
}

.videoDelete,
.videoPlay {
  background-color: #191919;
}

.videoDelete:hover,
.videoPlay:hover {
  background-color: #282828;
}

.videoDelete {
  position: absolute;
  right: 15px;
  top: 15px;
}

.videoDelete svg {
  fill: red;
}

.videoPlay svg {
  transform: rotate(90deg);
  fill: white;
}

.chat {
  flex: 1;
}

.messagesWrapper,
.chatInput {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  background-color: #1e1e1e;
}

.messagesWrapper {
  overflow-y: auto;
}

.message {
  align-items: baseline;
}

.message:nth-child(odd) {
  background-color: #191919;
}

.messageTime {
  color: #969696;
}

.messageAuthor {
  font-weight: bold;
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: #00b365;
}

::selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: #00b365;
}

::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00b365;
}

#app {
  background-color: #191919;
  color: white;
  padding: 15px;
  height: 100vh;
}

*,
*::before,
*::after {
  font-family: Roboto;
}

