@import url(https://cdn.angelin.dev/css/v1.0/app.css);input,
textarea {
  transition: all 0.1s linear;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #00964b;
}

input {
  background: #191919;
  border-radius: 10px;
  color: inherit;
  padding: 10px;
  height: 30px;
  outline: 0;
  border: 0;
}

svg {
  fill: #646464;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  padding: 5px;
  outline: 0;
  border: 0;
}

button[disabled] {
  pointer-events: none;
  cursor: default;
}

.btn {
  transition: all 0.1s linear;
  border-radius: 5px;
  min-height: 40px;
  min-width: 40px;
}

.btn:hover {
  background-color: rgba(75, 75, 75, 0.75);
}

.loading {
  width: 50px;
}

.newUser {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #1e1e1e;
  padding: 30px;
}

.newUserHeader {
  font-size: 1.5rem;
}

.newUserInput,
.newUserSubmit {
  box-shadow: 0 0 0 1px #00964b;
  font-size: 1.5rem;
  height: 40px;
}

@media (max-width: 1200px) {
  .newUserInput,
  .newUserSubmit {
    font-size: 1rem;
  }
}

.newUserSubmit {
  background-color: #00964b;
  border-radius: 10px;
  padding: 5px 20px;
}

.newUserSubmit svg {
  width: 100%;
}

.newUserSubmit.spin {
  background-color: rgba(0, 150, 75, 0.5);
  padding: 5px;
  width: 40px;
}

@media (max-width: 1200px) {
  .newUserSubmit {
    align-items: center;
    white-space: nowrap;
  }
}

.formError {
  margin-bottom: -15px;
  color: red;
}

.player {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  background-color: #1e1e1e;
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .player {
    margin-bottom: 15px;
    margin-right: 0;
    height: 100vh;
    width: 100%;
  }
}

.playerContainer {
  height: 100%;
}

.playerInput {
  width: 30%;
}

@media (max-width: 1200px) {
  .playerInput {
    width: 50%;
  }
}

.playerInputHeader {
  font-size: 1.25rem;
}

@media (max-width: 1200px) {
  .playerInputHeader {
    font-size: 1rem;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("/storage/fonts/Roboto-Regular.ttf");
}

.video {
  position: relative;
}

.video:nth-child(odd) {
  background-color: #141414;
}

.video:last-child {
  margin-bottom: 0;
}

.videoDelete,
.videoPlay {
  background-color: #191919;
}

.videoDelete:hover,
.videoPlay:hover {
  background-color: #282828;
}

.videoDelete {
  position: absolute;
  right: 15px;
  top: 15px;
}

.videoDelete svg {
  fill: red;
}

.videoPlay svg {
  transform: rotate(90deg);
  fill: white;
}

.chat {
  flex: 1;
}

@media (max-width: 1200px) {
  .chat {
    height: 50vh;
    width: 100%;
  }
}

.messagesWrapper,
.chatControls {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  background-color: #1e1e1e;
}

.chatInput {
  font-size: 1.15rem;
  height: 40px;
}

.messagesWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.message {
  align-items: center;
}

.message:nth-child(odd) {
  background-color: #191919;
}

.message.mention {
  background-color: #7f0000;
}

.message:hover .messageDelete {
  display: block;
}

.messageTime {
  color: #969696;
}

.messageContent {
  word-break: break-word;
}

.chatSubmit {
  background-color: #00964b;
}

.chatSubmit:hover {
  background-color: #00af64;
}

.colorPicker {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  grid-template-columns: repeat(5, 1fr);
  background-color: #282828;
  grid-gap: 10px;
  display: grid;
  bottom: 250%;
}

.colorPickerItem:hover {
  background: none;
}

.colorPickerItem.active {
  border: 2px solid white;
}

.messageDelete {
  min-height: unset;
  background: none;
  min-width: unset;
  height: 20px;
  color: red;
  width: 20px;
  right: 10px;
  padding: 0;
  top: 10px;
}

.messageDelete:hover {
  background: none;
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: #00964b;
}

::selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: #00964b;
}

::-moz-placeholder {
  -moz-user-select: none;
       user-select: none;
}

:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00964b;
}

:root {
  background-color: #191919;
}

#app {
  color: white;
  padding: 15px;
  height: 100vh;
}

@media (max-width: 1200px) {
  #app {
    flex-direction: column;
    height: unset;
  }
}

*,
*::before,
*::after {
  font-family: Roboto;
}

